{{#if session.isAuthenticated}}
  <h3>Logged in as, Username</h3>
  {{#link-to "test" tagName="button" class="btn btn-block btn-primary btn-lg"}}
    <span>Take Test!</span>
  {{/link-to}}

  {{#link-to "scores" tag="button" class="btn btn-block btn-default"}}
    <span class="glyphicon glyphicon-list-alt"></span> High Scores
  {{/link-to}}
  {{#link-to "questions" tag="button" class="btn btn-block btn-default"}}
    <span class="glyphicon glyphicon-search"></span> Study
  {{/link-to}}
  {{#link-to "contact" tag="button" class="btn btn-block btn-default"}}
    <span class="glyphicon glyphicon-comment"></span> Contact
  {{/link-to}}

{{else}}
  <h3>Login</h3>
  <button type="button" class="btn btn-primary btn-block" {{action "facebookLoginClicked"}}>Facebook</button>
  <button type="button" class="btn btn-default btn-block" {{action "twitterLoginClicked"}}>Twitter</button>
  <button type="button" class="btn btn-default btn-block" {{action "githubkLoginClicked"}}>GitHub</button>
  <button type="button" class="btn btn-default btn-block" {{action "googleLoginClicked"}}>Google</button>
{{/if}}
