<div class="container">
  {{#if session.isAuthenticated}}
    {{#link-to "test" tagName="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--large sc2iq-button--block"}}
      <div class="sc2iq-button__inner">
        <span class="glyphicon glyphicon-play"></span> Test
      </div>
    {{/link-to}}
    {{#link-to "questions" tagName="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--block"}}
      <div class="sc2iq-button__inner">
        <span class="glyphicon glyphicon-list"></span> Questions
      </div>
    {{/link-to}}
    {{#link-to "scores" tagName="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--block"}}
      <div class="sc2iq-button__inner">
        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Scores
      </div>
    {{/link-to}}
    {{#link-to "scores" tagName="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--block"}}
      <div class="sc2iq-button__inner">
        <span class="glyphicon glyphicon-equalizer"></span> Polls
      </div>
    {{/link-to}}
    {{#link-to "faqs" tagName="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--block"}}
      <div class="sc2iq-button__inner">
        <span class="glyphicon glyphicon-question-sign"></span> FAQs
      </div>
    {{/link-to}}
    {{#link-to "contact" tagName="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--block"}}
      <div class="sc2iq-button__inner">
        <span class="glyphicon glyphicon-pencil"></span> Contact
      </div>
    {{/link-to}}

  {{else}}
    <h3>Login</h3>
    <button type="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--large sc2iq-button--block sc2iq-button--facebook" {{action "facebookLoginClicked"}}>
      <div class="sc2iq-button__inner">
        {{fa-icon "facebook"}} Facebook
      </div>
    </button>
    <button type="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--large sc2iq-button--block sc2iq-button--twitter" {{action "twitterLoginClicked"}}>
      <div class="sc2iq-button__inner">
        {{fa-icon "twitter"}} Twitter
      </div>
    </button>
    <button type="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--large sc2iq-button--block sc2iq-button--github" {{action "githubLoginClicked"}}>
      <div class="sc2iq-button__inner">
        {{fa-icon "github"}} GitHub
      </div>
    </button>
    <button type="button" class="sc2iq-button sc2iq-button--primary sc2iq-button--large sc2iq-button--block sc2iq-button--google" {{action "googleLoginClicked"}}>
      <div class="sc2iq-button__inner">
        {{fa-icon "google-plus-square"}} Google
      </div>
    </button>
  {{/if}}
</div>
