<div class="sc2iq-section sc2iq-section--question-form">
  {{sc2iq-question-form on-submit=(route-action "save")}}
</div>
<div class="sc2iq-section sc2iq-section--search">
  Search
</div>

{{#each model as |question|}}
  <h2>{{question.q}}</h2>
  <ul>
    <li>{{question.a1}}</li>
    <li>{{question.a2}}</li>
    <li>{{question.a3}}</li>
    <li>{{question.a4}}</li>
  </ul>
{{/each}}
