<h2>Questions.Index</h2>

<form>
  <div class="form-group">
    <label for="newQuestionTitle">Title</label>
    {{input type="text" class="form-control" id="newQuestionTitle" value=newQuestion.title}}
  </div>
  <div class="form-group">
    <label for="newQuestionAnswer">Answer</label>
    {{input type="text" class="form-control" id="newQuestionAnswer1" value=newQuestion.answer}}
  </div>
  <button type="button" class="btn btn-default" {{action "submit"}}>Submit</button>
</form>

<hr>

<ul>
  {{#each model as |question|}}
  <li>
    {{#link-to "questions.question" question}}{{question.title}} - {{question.answer}}{{/link-to}}
  </li>
  {{/each}}
</ul>
