<img src="{{session.data.authenticated.profileImageUrl}}" alt="Profile Image" />
<p>Name: {{session.data.authenticated.name}}</p>
<p>Id: {{model.id}}</p>
<p>Reputation: {{model.reputation}}</p>
<p>PointsEarned: {{model.pointsEarned}}</p>
<p>PointsSpent: {{model.pointsSpent}}</p>
