<img src="{{session.data.authenticated.profileImageUrl}}" alt="Profile Image" />
<p>Name: {{session.data.authenticated.name}}</p>
<p>Id: {{model.id}}</p>
<p>Reputation: {{model.reputation}}</p>
<p>PointsEarned: {{model.pointsEarned}}</p>
<p>PointsSpent: {{model.pointsSpent}}</p>
<p>PointsSpent: {{model.pointsSpent}}</p>

<p>Primary Race: {{session.data.authenticated.career.primaryRace}}</p>
<p>Highest 1v1 Rank: {{session.data.authenticated.career.highest1v1Rank}}</p>
<p>Total Season Games: {{session.data.authenticated.career.seasonTotalGames}}</p>
<p>Total Career Games: {{session.data.authenticated.career.careerTotalGames}}</p>
