<header class="sc2iq-header">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "index" class="navbar-brand"}}SC2IQ{{/link-to}}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if session.isAuthenticated}}
            <li>{{#link-to "test"}}<span class="glyphicon glyphicon-play"></span> Test{{/link-to}}</li>
            <li>{{#link-to "questions" }}<span class="glyphicon glyphicon-list"></span> Questions{{/link-to}}</li>
            <li>{{#link-to "scores"}}<span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Scores{{/link-to}}</li>
            <li>{{#link-to "polls"}}<span class="glyphicon glyphicon-equalizer"></span> Polls{{/link-to}}</li>
            <li>{{#link-to "faqs"}}<span class="glyphicon glyphicon-question-sign"></span> FAQs{{/link-to}}</li>
            <li>{{#link-to "contact"}}<span class="glyphicon glyphicon-pencil"></span> Contact{{/link-to}}</li>
          {{/if}}
        </ul>
        <div class="sc2iq-nav__right">
          {{#if session.isAuthenticated}}
              {{#link-to "profile"}}<span class="glyphicon glyphicon-user"></span> {{session.currentUser.displayName}}{{/link-to}} | {{session.currentUser.points}} - {{session.currentUser.votes}} {{#bs-button class="btn btn-danger btn-xs" action="logout"}}Logout{{/bs-button}}
          {{else}}
              You are not logged in.
          {{/if}}
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>


<main class="sc2iq-main">
  <div class="container">
    {{outlet}}
  </div>
</main>
