<div class="sc2iq-test">

  <div>
    <div class="sc2iq-test__time text-center">
      <span class="glyphicon glyphicon-dashboard"></span> Time: {{sc-timer action="timerRead" command=timerCommand }}
    </div>

    <div class="sc2iq-test__start-question {{if isStarted 'hidden'}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Fake Question</span>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-default btn-lg btn-block">
              <span class=" index">1</span>
              <span class="text">Answer 1</span>
          </button>

          <button type="button" class="btn btn-default btn-lg btn-block">
              <span class="index">2</span>
              <span class="text">Answer 2</span>
          </button>

          <button type="button" class="btn btn-default btn-lg btn-block">
              <span class="index">3</span>
              <span class="text">Answer 3</span>
          </button>

          <button type="button" class="btn btn-default btn-lg btn-block">
              <span class="index">4</span>
              <span class="text">Answer 4</span>
          </button>
        </div>
      </div>
      <button class="sc2iq-test__start-button btn btn-success btn-lg  {{if isStarted 'hidden'}}" {{action "start"}}>
        <span class="glyphicon glyphicon-play-circle"></span> Begin!
      </button>
    </div>

    <div class="sc2iq-test__questions {{unless isStarted 'hidden'}} {{if isFinished 'hidden'}}">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="big-q">Q</span><span class="text">{{currentQuestion.text}}</span>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-default btn-lg btn-block" {{action "submitAnswer" 0 currentQuestion}}>
              <span class=" index">1</span>
              <span class="text">{{currentQuestion.answer1}}</span>
          </button>

          <button type="button" class="btn btn-default btn-lg btn-block" {{action "submitAnswer" 1 currentQuestion}}>
              <span class="index">2</span>
              <span class="text">{{currentQuestion.answer2}}</span>
          </button>

          <button type="button" class="btn btn-default btn-lg btn-block" {{action "submitAnswer" 2 currentQuestion}}>
              <span class="index">3</span>
              <span class="text">{{currentQuestion.answer3}}</span>
          </button>

          <button type="button" class="btn btn-default btn-lg btn-block" {{action "submitAnswer" 3 question}}>
              <span class="index">4</span>
              <span class="text">{{currentQuestion.answer4}}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="sc2iq-test__finished {{unless isFinished 'hidden'}}">
      <div class="panel panel-default">
        <div class="panel-heading text-center clearfix">
          <span class="title text-center">Finished!</span>
        </div>
        <div class="panel-body">
          <dl>
            {{#each answers as |answer|}}
              <dt>Answer: {{moment answer.time.duration "mm:ss:SS"}}</dt>
              <dd>{{answer.question.text}} - {{answer.answer}}</dd>
            {{/each}}

            <dt>Correct:</dt>
            <dd>{{result.totalCorrect}}/{{result.totalQuestions}} {{result.percentageCorrect}}%</dd>

            <dt>Score:</dt>
            <dd>Abc 123</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="sc2iq-test__actions text-center">
      <button type="button" class="btn btn-warning btn-lg" {{action "restart" }} disabled="{{unless isStarted 'disabled'}}">
          <span class="glyphicon glyphicon-repeat"></span> Restart
      </button>
    </div>

    <div class="sc2iq-test__tips text-center {{if isStarted 'hidden'}}">
      <h4><span class="glyphicon glyphicon-star"></span> Keyboard shortcuts.</h4>
      <p><strong>b</strong> - Begin Test</p>
      <p><strong>1</strong> - Select Answer 1</p>
      <p><strong>2</strong> - Select Answer 2</p>
      <p><strong>3</strong> - Select Answer 3</p>
      <p><strong>4</strong> - Select Answer 4</p>
    </div>
  </div>

</div>
