<div class="sc-pollForm">
  <form class="form-horizontal" role="form" {{action "submit" on="submit"}}>
      <div class="form-group">
        <label for="title" class="col-sm-3 control-label"><span class="glyphicon glyphicon-edit"></span> Propose New Poll:</label>
        <div class="col-sm-9" {{action "expand" }}>
          {{input type="text" class="form-control" id="title" placeholder="Title" required="required" value=poll.title}}
        </div>
      </div>
      <div class="sc-pollForm__content {{unless isExpanded 'hidden'}}">
        <div class="form-group">
          <label for="description" class="col-xs-12 col-sm-3 control-label">Description:</label>
          <div class="col-xs-11 col-sm-9">
              {{input type="text" class="form-control" id="description" placeholder="Description" required="required" value=poll.description}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
            <button type="reset" class="btn btn-lg btn-warning" {{action "reset"}}>Cancel</button>
          </div>
        </div>
      </div>
  </form>
</div>
