<div class="sc2iq-question-result">
  <div class="sc2iq-question-result__trigger" {{action "toggleDetails" }}>
    <div class="row">
      <div class="col-md-2">{{computedIndex}}</div>
      <div class="col-md-2">
        <span class="glyphicon {{ if result.isCorrect 'glyphicon glyphicon-ok text-success' 'glyphicon glyphicon-remove text-danger'}}"></span>
      </div>
      <div class="col-md-2">
        {{result.question.difficulty}}
      </div>
      <div class="col-md-2">
        {{moment result.duration "mm:ss:SS"}}
      </div>
      <div class="col-md-2">
        {{moment result.time "mm:ss:SS"}}
      </div>
      <div class="col-md-2">
        {{result.points}}
      </div>
    </div>
  </div>
  <div class="sc2iq-question-result__details {{if isExpanded 'sc2iq-question-result__details--open'}}">
    <div class="sc2iq-question-result__details-inner">

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="big-q">Q</span><span class="text">{{result.question.text}}</span>
        </div>
        <ul class="list-group">
          {{#each result.question.answers as |answer index| }}
            <li class="list-group-item">
              <span class="index">{{index}}</span>
              <span class="text">{{answer}}</span>
            </li>
          {{/each}}
        </ul>
        <div class="panel-body">
          <div class="sc2iq-question-result__details-graph">
            Graph
          </div>
          <p>
            Disagree with the answer? Submit a change request:
            {{#link-to "questions.question" result.question tagName="button" class="btn btn-primary btn-sm btn-warning"}}
              <span class="glyphicon glyphicon-pencil"></span> Submit Change
            {{/link-to}}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
